/*!
* Version: 1.2.0
* Template: Example Project
* Author: iqonic.design
* Design and Developed by: iqonic.design
* NOTE: This file contains the styling for Template.
*
*/
:focus {
    outline: none
}

hr {
    background-color: currentColor;
    border: 0;
    color: inherit;
    margin: 1rem 0;
    opacity: .25
}

.dark .bg-soft-primary {
    background-color: rgba(104, 126, 237, .1) !important
}

.dark a.bg-soft-primary:focus,
.dark a.bg-soft-primary:hover,
.dark button.bg-soft-primary:focus,
.dark button.bg-soft-primary:hover {
    background-color: rgba(104, 126, 237, .15) !important;
    color: #1632bf;
    cursor: pointer
}

.dark .bg-soft-secondary {
    background-color: rgba(125, 138, 183, .1) !important
}

.dark a.bg-soft-secondary:focus,
.dark a.bg-soft-secondary:hover,
.dark button.bg-soft-secondary:focus,
.dark button.bg-soft-secondary:hover {
    background-color: rgba(125, 138, 183, .15) !important;
    color: #404c74;
    cursor: pointer
}

.dark .bg-soft-success {
    background-color: rgba(33, 204, 106, .1) !important
}

.dark a.bg-soft-success:focus,
.dark a.bg-soft-success:hover,
.dark button.bg-soft-success:focus,
.dark button.bg-soft-success:hover {
    background-color: rgba(33, 204, 106, .15) !important;
    color: #0f5e31;
    cursor: pointer
}

.dark .bg-soft-info {
    background-color: rgba(9, 200, 211, .1) !important
}

.dark a.bg-soft-info:focus,
.dark a.bg-soft-info:hover,
.dark button.bg-soft-info:focus,
.dark button.bg-soft-info:hover {
    background-color: rgba(9, 200, 211, .15) !important;
    color: #045459;
    cursor: pointer
}

.dark .bg-soft-warning {
    background-color: rgba(244, 137, 75, .1) !important
}

.dark a.bg-soft-warning:focus,
.dark a.bg-soft-warning:hover,
.dark button.bg-soft-warning:focus,
.dark button.bg-soft-warning:hover {
    background-color: rgba(244, 137, 75, .15) !important;
    color: #b44a0b;
    cursor: pointer
}

.dark .bg-soft-danger {
    background-color: rgba(221, 73, 55, .1) !important
}

.dark a.bg-soft-danger:focus,
.dark a.bg-soft-danger:hover,
.dark button.bg-soft-danger:focus,
.dark button.bg-soft-danger:hover {
    background-color: rgba(221, 73, 55, .15) !important;
    color: #7f2116;
    cursor: pointer
}

.dark .bg-soft-light {
    background-color: rgba(251, 252, 252, .1) !important
}

.dark a.bg-soft-light:focus,
.dark a.bg-soft-light:hover,
.dark button.bg-soft-light:focus,
.dark button.bg-soft-light:hover {
    background-color: rgba(251, 252, 252, .15) !important;
    color: #b2bcc5;
    cursor: pointer
}

.dark .bg-soft-dark {
    background-color: rgba(91, 102, 113, .1) !important
}

.dark a.bg-soft-dark:focus,
.dark a.bg-soft-dark:hover,
.dark button.bg-soft-dark:focus,
.dark button.bg-soft-dark:hover {
    background-color: rgba(91, 102, 113, .15) !important;
    color: #000;
    cursor: pointer
}

.dark .bg-soft-gray {
    background-color: hsla(210, 7%, 56%, .1) !important
}

.dark a.bg-soft-gray:focus,
.dark a.bg-soft-gray:hover,
.dark button.bg-soft-gray:focus,
.dark button.bg-soft-gray:hover {
    background-color: hsla(210, 7%, 56%, .15) !important;
    color: #494f54;
    cursor: pointer
}

.dark .bg-soft-gray-dark {
    background-color: rgba(91, 102, 113, .1) !important
}

.dark a.bg-soft-gray-dark:focus,
.dark a.bg-soft-gray-dark:hover,
.dark button.bg-soft-gray-dark:focus,
.dark button.bg-soft-gray-dark:hover {
    background-color: rgba(91, 102, 113, .15) !important;
    color: #121416;
    cursor: pointer
}

.dark .text-primary {
    color: #3a57e8 !important
}

.dark .text-secondary {
    color: #5c6ca5 !important
}

.dark .text-success {
    color: #1aa053 !important
}

.dark .text-info {
    color: #079aa2 !important
}

.dark .text-warning {
    color: #f16a1b !important
}

.dark .text-danger {
    color: #c03221 !important
}

.dark .text-light {
    color: #dee2e6 !important
}

.dark .text-dark {
    color: #212529 !important
}

.dark .text-gray {
    color: #6c757d !important
}

.dark .text-gray-dark {
    color: #343a40 !important
}

.dark .iq-media-group .iq-icon-box-3 {
    background: #222738
}

.dark {
    background-color: #151824 !important
}

.dark,
.dark .h1,
.dark .h2,
.dark .h3,
.dark .h4,
.dark .h5,
.dark .h6,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
    color: #8a92a6
}

.dark .border,
.dark .border-bottom {
    border-color: #30384f !important
}

.dark .datepicker-picker,
.dark .datepicker-picker .datepicker-title {
    background-color: #222738
}

.dark .datepicker-picker .datepicker-controls .button {
    background-color: #222738;
    color: #8a92a6
}

.dark tbody,
.dark td,
.dark tfoot,
.dark th,
.dark thead,
.dark tr {
    border-color: #30384f;
    color: #8a92a6
}

.dark .offcanvas {
    background-color: #222738;
    color: #8a92a6
}

.dark button.close-btn-res {
    color: #dee2e6
}

.dark hr.hr-horizontal {
    background-image: linear-gradient(90deg, transparent, hsla(0, 0%, 100%, .4), transparent)
}

.dark hr.hr-vertial {
    background-image: linear-gradient(180deg, transparent, hsla(0, 0%, 100%, .4), transparent)
}

.dark .custom-accordion .accordion-button {
    color: #adb3c1
}

.dark .custom-accordion .accordion-item {
    background: #222738
}

.dark .accordion .accordion-item {
    background-color: #151824;
    color: #fff
}

.dark .accordion .accordion-item .accordion-header .accordion-button,
.dark .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
    background-color: #30384f;
    color: #fff
}

.dark .accordion .accordion-item .accordion-header .accordion-button:focus {
    box-shadow: unset
}

.dark .btn-border {
    border: 2px solid #30384f
}

.dark .btn-border:hover {
    border-color: #57658e
}

.dark .btn-border.active {
    border-color: var(--bs-primary)
}

.dark .bd-aside .active,
.dark .bd-aside .btn:focus,
.dark .bd-aside .btn:hover,
.dark .bd-aside a:hover {
    background-color: #151824;
    box-shadow: unset;
    color: #fff
}

.dark .btn-soft-primary {
    --bs-btn-color: #6179ed;
    --bs-btn-bg: rgba(58, 87, 232, .1);
    --bs-btn-border-color: rgba(58, 87, 232, 0);
    --bs-btn-hover-color: #7589ef;
    --bs-btn-hover-bg: rgba(58, 87, 232, .2);
    --bs-btn-hover-border-color: rgba(58, 87, 232, .2);
    --bs-btn-focus-shadow-rgb: 97, 121, 237;
    --bs-btn-active-color: #3a57e8;
    --bs-btn-active-bg: rgba(58, 87, 232, .3);
    --bs-btn-active-border-color: rgba(58, 87, 232, .2);
    --bs-btn-active-shadow: 0 0px 0px transparent;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #9dabf4;
    --bs-btn-disabled-border-color: rgba(58, 87, 232, 0);
    box-shadow: unset
}

.dark .btn-soft-secondary {
    --bs-btn-color: #7d89b7;
    --bs-btn-bg: rgba(92, 108, 165, .1);
    --bs-btn-border-color: rgba(92, 108, 165, 0);
    --bs-btn-hover-color: #8d98c0;
    --bs-btn-hover-bg: rgba(92, 108, 165, .2);
    --bs-btn-hover-border-color: rgba(92, 108, 165, .2);
    --bs-btn-focus-shadow-rgb: 125, 137, 183;
    --bs-btn-active-color: #5c6ca5;
    --bs-btn-active-bg: rgba(92, 108, 165, .3);
    --bs-btn-active-border-color: rgba(92, 108, 165, .2);
    --bs-btn-active-shadow: 0 0px 0px transparent;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #aeb6d2;
    --bs-btn-disabled-border-color: rgba(92, 108, 165, 0);
    box-shadow: unset
}

.dark .btn-soft-success {
    --bs-btn-color: #48b375;
    --bs-btn-bg: rgba(26, 160, 83, .1);
    --bs-btn-border-color: rgba(26, 160, 83, 0);
    --bs-btn-hover-color: #5fbd87;
    --bs-btn-hover-bg: rgba(26, 160, 83, .2);
    --bs-btn-hover-border-color: rgba(26, 160, 83, .2);
    --bs-btn-focus-shadow-rgb: 72, 179, 117;
    --bs-btn-active-color: #1aa053;
    --bs-btn-active-bg: rgba(26, 160, 83, .3);
    --bs-btn-active-border-color: rgba(26, 160, 83, .2);
    --bs-btn-active-shadow: 0 0px 0px transparent;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #8dd0a9;
    --bs-btn-disabled-border-color: rgba(26, 160, 83, 0);
    box-shadow: unset
}

.dark .btn-soft-info {
    --bs-btn-color: #39aeb5;
    --bs-btn-bg: rgba(7, 154, 162, .1);
    --bs-btn-border-color: rgba(7, 154, 162, 0);
    --bs-btn-hover-color: #51b8be;
    --bs-btn-hover-bg: rgba(7, 154, 162, .2);
    --bs-btn-hover-border-color: rgba(7, 154, 162, .2);
    --bs-btn-focus-shadow-rgb: 57, 174, 181;
    --bs-btn-active-color: #079aa2;
    --bs-btn-active-bg: rgba(7, 154, 162, .3);
    --bs-btn-active-border-color: rgba(7, 154, 162, .2);
    --bs-btn-active-shadow: 0 0px 0px transparent;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #83cdd1;
    --bs-btn-disabled-border-color: rgba(7, 154, 162, 0);
    box-shadow: unset
}

.dark .btn-soft-warning {
    --bs-btn-color: #f48849;
    --bs-btn-bg: rgba(241, 106, 27, .1);
    --bs-btn-border-color: rgba(241, 106, 27, 0);
    --bs-btn-hover-color: #f5975f;
    --bs-btn-hover-bg: rgba(241, 106, 27, .2);
    --bs-btn-hover-border-color: rgba(241, 106, 27, .2);
    --bs-btn-focus-shadow-rgb: 244, 136, 73;
    --bs-btn-active-color: #f16a1b;
    --bs-btn-active-bg: rgba(241, 106, 27, .3);
    --bs-btn-active-border-color: rgba(241, 106, 27, .2);
    --bs-btn-active-shadow: 0 0px 0px transparent;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f8b58d;
    --bs-btn-disabled-border-color: rgba(241, 106, 27, 0);
    box-shadow: unset
}

.dark .btn-soft-danger {
    --bs-btn-color: #cd5b4d;
    --bs-btn-bg: rgba(192, 50, 33, .1);
    --bs-btn-border-color: rgba(192, 50, 33, 0);
    --bs-btn-hover-color: #d37064;
    --bs-btn-hover-bg: rgba(192, 50, 33, .2);
    --bs-btn-hover-border-color: rgba(192, 50, 33, .2);
    --bs-btn-focus-shadow-rgb: 205, 91, 77;
    --bs-btn-active-color: #c03221;
    --bs-btn-active-bg: rgba(192, 50, 33, .3);
    --bs-btn-active-border-color: rgba(192, 50, 33, .2);
    --bs-btn-active-shadow: 0 0px 0px transparent;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #e09990;
    --bs-btn-disabled-border-color: rgba(192, 50, 33, 0);
    box-shadow: unset
}

.dark .btn-soft-light {
    --bs-btn-color: #e5e8eb;
    --bs-btn-bg: rgba(222, 226, 230, .1);
    --bs-btn-border-color: rgba(222, 226, 230, 0);
    --bs-btn-hover-color: #e8ebee;
    --bs-btn-hover-bg: rgba(222, 226, 230, .2);
    --bs-btn-hover-border-color: rgba(222, 226, 230, .2);
    --bs-btn-focus-shadow-rgb: 229, 232, 235;
    --bs-btn-active-color: #dee2e6;
    --bs-btn-active-bg: rgba(222, 226, 230, .3);
    --bs-btn-active-border-color: rgba(222, 226, 230, .2);
    --bs-btn-active-shadow: 0 0px 0px transparent;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #eff1f3;
    --bs-btn-disabled-border-color: rgba(222, 226, 230, 0);
    box-shadow: unset
}

.dark .btn-soft-dark {
    --bs-btn-color: #4d5154;
    --bs-btn-bg: rgba(33, 37, 41, .1);
    --bs-btn-border-color: rgba(33, 37, 41, 0);
    --bs-btn-hover-color: #646669;
    --bs-btn-hover-bg: rgba(33, 37, 41, .2);
    --bs-btn-hover-border-color: rgba(33, 37, 41, .2);
    --bs-btn-focus-shadow-rgb: 77, 81, 84;
    --bs-btn-active-color: #212529;
    --bs-btn-active-bg: rgba(33, 37, 41, .3);
    --bs-btn-active-border-color: rgba(33, 37, 41, .2);
    --bs-btn-active-shadow: 0 0px 0px transparent;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #909294;
    --bs-btn-disabled-border-color: rgba(33, 37, 41, 0);
    box-shadow: unset
}

.dark .btn-soft-gray {
    --bs-btn-color: #899197;
    --bs-btn-bg: hsla(208, 7%, 46%, .1);
    --bs-btn-border-color: hsla(208, 7%, 46%, 0);
    --bs-btn-hover-color: #989ea4;
    --bs-btn-hover-bg: hsla(208, 7%, 46%, .2);
    --bs-btn-hover-border-color: hsla(208, 7%, 46%, .2);
    --bs-btn-focus-shadow-rgb: 137, 145, 151;
    --bs-btn-active-color: #6c757d;
    --bs-btn-active-bg: hsla(208, 7%, 46%, .3);
    --bs-btn-active-border-color: hsla(208, 7%, 46%, .2);
    --bs-btn-active-shadow: 0 0px 0px transparent;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #b6babe;
    --bs-btn-disabled-border-color: hsla(208, 7%, 46%, 0);
    box-shadow: unset
}

.dark .btn-soft-gray-dark {
    --bs-btn-color: #5d6166;
    --bs-btn-bg: rgba(52, 58, 64, .1);
    --bs-btn-border-color: rgba(52, 58, 64, 0);
    --bs-btn-hover-color: #717579;
    --bs-btn-hover-bg: rgba(52, 58, 64, .2);
    --bs-btn-hover-border-color: rgba(52, 58, 64, .2);
    --bs-btn-focus-shadow-rgb: 93, 97, 102;
    --bs-btn-active-color: #343a40;
    --bs-btn-active-bg: rgba(52, 58, 64, .3);
    --bs-btn-active-border-color: rgba(52, 58, 64, .2);
    --bs-btn-active-shadow: 0 0px 0px transparent;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #9a9da0;
    --bs-btn-disabled-border-color: rgba(52, 58, 64, 0);
    box-shadow: unset
}

.dark .btn-close {
    filter: invert(1)
}

.dark.boxed {
    background: var(--bs-primary) !important
}

.dark.dual-compact .nav-underline .nav-link:hover {
    color: var(--bs-primary)
}

.dark.dual-compact .nav-underline .active {
    color: #dee2e6
}

.dark .dual-horizontal .nav {
    background-color: var(--bs-primary)
}

.dark .sidebar {
    background-color: #222738
}

.dark .sidebar .navbar-brand .logo-title {
    color: #fff
}

.dark .sidebar .sidebar-header {
    border-color: #30384f
}

.dark .sidebar-list .navbar-nav .nav-item .nav-link.static-item .default-icon {
    color: #dee2e6
}

.dark .sidebar.sidebar-dark {
    background-color: #212529
}

.dark .sidebar.sidebar-color {
    background-color: var(--bs-primary)
}

.dark .sidebar.sidebar-transparent {
    background-color: transparent
}

.dark .sidebar.sidebar-default .nav-link:not(.static-item):hover:not(.active):not([aria-expanded=true]) {
    background-color: rgba(var(--bs-primary-rgb), .2)
}

.dark .footer {
    background-color: #222738 !important
}

.dark .footer a {
    color: #8a92a6;
    transition: all .4s ease
}

.dark .footer a:hover {
    color: #3a57e8;
    transition: all .4s ease
}

.dark .nav {
    background: #222738
}

.dark .nav .navbar-brand .logo-title {
    color: #fff
}

.dark .iq-navbar {
    background-color: #222738;
    border-color: #222738
}

.dark .iq-navbar .navbar-nav .nav-item .nav-link {
    color: #fff
}

.dark .iq-navbar .navbar-nav .nav-item .nav-link:hover {
    color: #b9beca
}

.dark .iq-navbar .navbar-nav .nav-item .nav-link.active {
    color: var(--bs-primary)
}

.dark .iq-navbar .navbar-brand .logo-title {
    color: #fff
}

.dark .iq-navbar.nav-glass {
    background: linear-gradient(120deg, rgba(96, 101, 138, .5) -8%, rgba(96, 101, 138, .01) 120%);
    border-color: #30384f
}

.dark .iq-navbar .dropdown .dropdown-menu.sub-drop .iq-sub-card,
.dark .iq-navbar .dropdown .dropdown-menu.sub-drop li a {
    color: #8a92a6
}

.dark .iq-navbar .dropdown .dropdown-menu.sub-drop .iq-sub-card:hover {
    background: #060917
}

.dark .iq-navbar .dropdown .dropdown-menu.sub-drop .iq-sub-card:not(:last-child) {
    border-bottom: 1px solid #30384f
}

.dark .list-group-item {
    background-color: unset
}

@media (max-width:991.98px) {
    .dark .iq-navbar .navbar-collapse:not(.offcanvas-collapse) {
        background: #222738
    }
}

.dark .nav-tabs .nav-link.active {
    box-shadow: unset
}

.dark .alert-primary {
    --bs-alert-color: #6179ed;
    --bs-alert-bg: #17235d;
    --bs-alert-border-color: #0c112e
}

.dark .alert-primary .alert-link {
    color: #4e61be
}

.dark .alert-primary .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%)
}

.dark .alert-secondary {
    --bs-alert-color: #7d89b7;
    --bs-alert-bg: #252b42;
    --bs-alert-border-color: #121621
}

.dark .alert-secondary .alert-link {
    color: #646e92
}

.dark .alert-secondary .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%)
}

.dark .alert-success {
    --bs-alert-color: #48b375;
    --bs-alert-bg: #0a4021;
    --bs-alert-border-color: #052011
}

.dark .alert-success .alert-link {
    color: #3a8f5e
}

.dark .alert-success .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%)
}

.dark .alert-info {
    --bs-alert-color: #39aeb5;
    --bs-alert-bg: #033e41;
    --bs-alert-border-color: #011f20
}

.dark .alert-info .alert-link {
    color: #2e8b91
}

.dark .alert-info .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%)
}

.dark .alert-warning {
    --bs-alert-color: #f48849;
    --bs-alert-bg: #602a0b;
    --bs-alert-border-color: #301505
}

.dark .alert-warning .alert-link {
    color: #c36d3a
}

.dark .alert-warning .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%)
}

.dark .alert-danger {
    --bs-alert-color: #cd5b4d;
    --bs-alert-bg: #4d140d;
    --bs-alert-border-color: #260a07
}

.dark .alert-danger .alert-link {
    color: #a4493e
}

.dark .alert-danger .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%)
}

.dark .alert-light {
    --bs-alert-color: #e5e8eb;
    --bs-alert-bg: #595a5c;
    --bs-alert-border-color: #2c2d2e
}

.dark .alert-light .alert-link {
    color: #b7babc
}

.dark .alert-light .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%)
}

.dark .alert-dark {
    --bs-alert-color: #4d5154;
    --bs-alert-bg: #0d0f10;
    --bs-alert-border-color: #070708
}

.dark .alert-dark .alert-link {
    color: #3e4143
}

.dark .alert-dark .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%)
}

.dark .alert-gray {
    --bs-alert-color: #899197;
    --bs-alert-bg: #2b2f32;
    --bs-alert-border-color: #161719
}

.dark .alert-gray .alert-link {
    color: #6e7479
}

.dark .alert-gray .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%)
}

.dark .alert-gray-dark {
    --bs-alert-color: #5d6166;
    --bs-alert-bg: #15171a;
    --bs-alert-border-color: #0a0c0d
}

.dark .alert-gray-dark .alert-link {
    color: #4a4e52
}

.dark .alert-gray-dark .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%)
}

.dark .alert-solid.alert-primary {
    --bs-alert-color: #fff;
    --bs-alert-bg: #3a57e8;
    --bs-alert-border-color: #3a57e8
}

.dark .alert-solid.alert-primary .alert-link {
    color: #ccc
}

.dark .alert-solid.alert-primary .btn-close {
    filter: unset
}

.dark .alert-solid.alert-secondary {
    --bs-alert-color: #fff;
    --bs-alert-bg: #5c6ca5;
    --bs-alert-border-color: #5c6ca5
}

.dark .alert-solid.alert-secondary .alert-link {
    color: #ccc
}

.dark .alert-solid.alert-secondary .btn-close {
    filter: unset
}

.dark .alert-solid.alert-success {
    --bs-alert-color: #fff;
    --bs-alert-bg: #1aa053;
    --bs-alert-border-color: #1aa053
}

.dark .alert-solid.alert-success .alert-link {
    color: #ccc
}

.dark .alert-solid.alert-success .btn-close {
    filter: unset
}

.dark .alert-solid.alert-info {
    --bs-alert-color: #fff;
    --bs-alert-bg: #079aa2;
    --bs-alert-border-color: #079aa2
}

.dark .alert-solid.alert-info .alert-link {
    color: #ccc
}

.dark .alert-solid.alert-info .btn-close {
    filter: unset
}

.dark .alert-solid.alert-warning {
    --bs-alert-color: #fff;
    --bs-alert-bg: #f16a1b;
    --bs-alert-border-color: #f16a1b
}

.dark .alert-solid.alert-warning .alert-link {
    color: #ccc
}

.dark .alert-solid.alert-warning .btn-close {
    filter: unset
}

.dark .alert-solid.alert-danger {
    --bs-alert-color: #fff;
    --bs-alert-bg: #c03221;
    --bs-alert-border-color: #c03221
}

.dark .alert-solid.alert-danger .alert-link {
    color: #ccc
}

.dark .alert-solid.alert-danger .btn-close {
    filter: unset
}

.dark .alert-solid.alert-light {
    --bs-alert-color: #fff;
    --bs-alert-bg: #dee2e6;
    --bs-alert-border-color: #dee2e6
}

.dark .alert-solid.alert-light .alert-link {
    color: #ccc
}

.dark .alert-solid.alert-light .btn-close {
    filter: unset
}

.dark .alert-solid.alert-dark {
    --bs-alert-color: #fff;
    --bs-alert-bg: #212529;
    --bs-alert-border-color: #212529
}

.dark .alert-solid.alert-dark .alert-link {
    color: #ccc
}

.dark .alert-solid.alert-dark .btn-close {
    filter: unset
}

.dark .alert-solid.alert-gray {
    --bs-alert-color: #fff;
    --bs-alert-bg: #6c757d;
    --bs-alert-border-color: #6c757d
}

.dark .alert-solid.alert-gray .alert-link {
    color: #ccc
}

.dark .alert-solid.alert-gray .btn-close {
    filter: unset
}

.dark .alert-solid.alert-gray-dark {
    --bs-alert-color: #fff;
    --bs-alert-bg: #343a40;
    --bs-alert-border-color: #343a40
}

.dark .alert-solid.alert-gray-dark .alert-link {
    color: #ccc
}

.dark .alert-solid.alert-gray-dark .btn-close {
    filter: unset
}

.dark .alert-left.alert-primary {
    border-color: #3a57e8
}

.dark .alert-left.alert-secondary {
    border-color: #5c6ca5
}

.dark .alert-left.alert-success {
    border-color: #1aa053
}

.dark .alert-left.alert-info {
    border-color: #079aa2
}

.dark .alert-left.alert-warning {
    border-color: #f16a1b
}

.dark .alert-left.alert-danger {
    border-color: #c03221
}

.dark .alert-left.alert-light {
    border-color: #dee2e6
}

.dark .alert-left.alert-dark {
    border-color: #212529
}

.dark .alert-left.alert-gray {
    border-color: #6c757d
}

.dark .alert-left.alert-gray-dark {
    border-color: #343a40
}

.dark .alert-top.alert-primary {
    border-color: #3a57e8
}

.dark .alert-top.alert-secondary {
    border-color: #5c6ca5
}

.dark .alert-top.alert-success {
    border-color: #1aa053
}

.dark .alert-top.alert-info {
    border-color: #079aa2
}

.dark .alert-top.alert-warning {
    border-color: #f16a1b
}

.dark .alert-top.alert-danger {
    border-color: #c03221
}

.dark .alert-top.alert-light {
    border-color: #dee2e6
}

.dark .alert-top.alert-dark {
    border-color: #212529
}

.dark .alert-top.alert-gray {
    border-color: #6c757d
}

.dark .alert-top.alert-gray-dark {
    border-color: #343a40
}

.dark .alert-right.alert-primary {
    border-color: #3a57e8
}

.dark .alert-right.alert-secondary {
    border-color: #5c6ca5
}

.dark .alert-right.alert-success {
    border-color: #1aa053
}

.dark .alert-right.alert-info {
    border-color: #079aa2
}

.dark .alert-right.alert-warning {
    border-color: #f16a1b
}

.dark .alert-right.alert-danger {
    border-color: #c03221
}

.dark .alert-right.alert-light {
    border-color: #dee2e6
}

.dark .alert-right.alert-dark {
    border-color: #212529
}

.dark .alert-right.alert-gray {
    border-color: #6c757d
}

.dark .alert-right.alert-gray-dark {
    border-color: #343a40
}

.dark .alert-bottom.alert-primary {
    border-color: #3a57e8
}

.dark .alert-bottom.alert-secondary {
    border-color: #5c6ca5
}

.dark .alert-bottom.alert-success {
    border-color: #1aa053
}

.dark .alert-bottom.alert-info {
    border-color: #079aa2
}

.dark .alert-bottom.alert-warning {
    border-color: #f16a1b
}

.dark .alert-bottom.alert-danger {
    border-color: #c03221
}

.dark .alert-bottom.alert-light {
    border-color: #dee2e6
}

.dark .alert-bottom.alert-dark {
    border-color: #212529
}

.dark .alert-bottom.alert-gray {
    border-color: #6c757d
}

.dark .alert-bottom.alert-gray-dark {
    border-color: #343a40
}

.dark .card {
    background: #222738
}

.dark_custom {
    background: #222738
}
.dark_custom_leaderboard {
    background: #49497069;
}
.dark_custom_text {
    color: #8a92a6 !important;
}
.dark_custom_icon {
    fill: #8a92a6 !important;
}
.dark_custom_modal {
    background-color: #1a1d2e !important;
}

.dark .card .card-footer,
.dark .card .card-header {
    background-color: #222738;
    border-bottom-color: #30384f
}

.dark .card-footer {
    border-top: 1px solid #30384f
}

.dark .apexcharts-theme-light .apexcharts-tooltip,
.dark .apexcharts-theme-light .apexcharts-tooltip .apexcharts-tooltip-title,
.dark .apexcharts-theme-light .apexcharts-xaxistooltip {
    background: #222738;
    border: 1px solid #30384f
}

.dark .apexcharts-theme-light .apexcharts-xaxistooltip .apexcharts-xaxistooltip-text {
    color: #8a92a6
}

.dark .icon-box {
    border-color: #30384f;
    color: #5c6ca5
}

.dark .icon-box .overlay {
    background-color: #151824
}

.dark .icon-box:hover .overlay .btn {
    color: #fff
}

.dark .form-control {
    background-color: #050b2236;
    border-color: #30384f;
    color: #8a92a6
}
.dark .form-control.is-invalid {
    border-color: #c03221
}

.dark .form-control.is-valid {
    border-color: #1aa053
}

.dark .form-check-input {
    border-color: #30384f
}

.dark .form-check-input,
.dark .form-select {
    background-color: #222738;
    color: #8a92a6
}

.dark .form-select.is-invalid {
    border-color: #c03221
}

.dark .input-group-text {
    background-color: #222738;
    border-color: #30384f
}

.dark #top-tabbar-vertical li a,
.dark .stepwizard-row a.btn {
    background-color: #151824;
    color: #8a92a6
}

.dark .custom-form-floating>.form-control:not(:-moz-placeholder-shown)~label {
    background-color: #222738
}

.dark .custom-form-floating>.form-control:focus~label,
.dark .custom-form-floating>.form-control:not(:placeholder-shown)~label,
.dark .custom-form-floating>.form-select~label {
    background-color: #222738
}

.dark #top-tab-list li a {
    background: #151824;
    color: #222738
}

.dark #top-tab-list li a .iq-icon {
    background: #222738
}

.dark #top-tab-list li a .iq-icon .svg-icon {
    color: #fff
}

.dark #top-tab-list li.active a {
    background: var(--bs-primary);
    color: #fff
}

.dark #top-tab-list li.active a .iq-icon {
    background: #fff
}

.dark #top-tab-list li.active a .iq-icon .svg-icon {
    color: var(--bs-primary)
}

.dark #top-tab-list li.active.done a {
    background: #1aa053
}

.dark #top-tab-list li.active.done a i {
    color: #1aa053
}

.dark #top-tab-list li#confirm.active a {
    background: #1aa053
}

.dark #top-tab-list li#confirm.active a i {
    color: #1aa053
}

.dark .table thead tr th {
    background-color: #151824
}

.dark .table tbody tr td {
    color: #dee2e6
}

.dark .dropdown-menu {
    background-color: #151824;
    color: #8a92a6
}

.dark .dropdown-menu .dropdown-item {
    color: #8a92a6
}

.dark .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    color: #3a57e8
}

.dark .like-block span {
    color: #8a92a6
}

.dark .dropdown>.dropdown-menu {
    background-color: #151824
}

.dark .dropdown>.dropdown-menu>a {
    color: #8a92a6
}

.dark .profile-media:before {
    border-color: #30384f
}

.dark .profile-dots-pills {
    background-color: #222738
}

.dark .profile-story-img {
    filter: invert(100%)
}

.dark .iq-timeline:before {
    background-color: #30384f
}

.dark .iq-timeline li .timeline-dots {
    background-color: #151824 !important
}

.dark .iq-timeline0:before {
    background-color: #30384f
}

.dark .iq-timeline0 li .timeline-dots {
    background-color: #151824 !important
}

.dark .iq-timeline0 li .timeline-dots1 {
    background-color: #151824
}

.dark .credit-card-widget .primary-gradient-card {
    background: linear-gradient(117.76deg, rgba(0, 0, 0, .5) -7.21%, rgba(0, 0, 0, .01) 118.08%);
    border-color: #000 !important
}

.dark .circle-progress-circle {
    stroke: #5c6ca5
}

.dark .page-item.active .page-link {
    background-color: #3a57e8;
    border-color: #5c6ca5;
    color: #fff;
    z-index: 3
}

.dark .page-item .page-link {
    background-color: #222738;
    border-color: #5c6ca5;
    color: #8a92a6
}

.dark .page-item .page-link.disabled .page-link {
    background-color: #151824
}

.dark .list-group .list-group-item {
    border-color: #30384f;
    color: #8a92a6
}

.dark .bg-light {
    background: #60658a !important
}

.dark .popover {
    background-color: #151824
}

.dark .popover-header {
    background-color: #222738
}

.dark .bs-popover-auto[data-popper-placement^=right]>.popover-arrow:after,
.dark .bs-popover-end>.popover-arrow:after {
    border-right-color: #151824
}

.dark .bs-popover-auto[data-popper-placement^=top]>.popover-arrow:after,
.dark .bs-popover-top>.popover-arrow:after {
    border-top-color: #151824
}

.dark .bs-popover-auto[data-popper-placement^=bottom]>.popover-arrow:after,
.dark .bs-popover-bottom>.popover-arrow:after {
    border-bottom-color: #151824
}

.dark .bs-popover-auto[data-popper-placement^=left]>.popover-arrow:after,
.dark .bs-popover-start>.popover-arrow:after {
    border-left-color: #151824
}

.dark .toast {
    background-color: #151824
}

.dark .toast .toast-header {
    background-color: #222738
}

.dark .card .card-body .iq-icon-box-2 {
    background: #151824
}

.dark .pricing .table th {
    border-color: #30384f
}

.dark .pricing .table th.bg-light {
    background: #151824 !important
}

.dark .pricing .table thead tr,
.dark .pricing .table tr {
    border-color: #30384f
}

.dark .prc-box {
    background-color: #23348b
}

.dark .type:before {
    border-left-color: #17235d
}

.dark .type:after {
    border-right-color: #17235d
}

.dark .iq-single-card.bg-light {
    background: #60658a !important
}

.dark .line-around {
    border-color: #30384f
}

.dark .line-around .line-around-1 {
    background: #151824
}

.dark .login-content .bg-white {
    background: #222738 !important
}

.dark .apexcharts-svg .apexcharts-xaxis-texts-g text,
.dark .apexcharts-svg .apexcharts-yaxis-texts-g text {
    fill: #5c6ca5
}

.dark .apexcharts-svg .apexcharts-track path,
.dark .apexcharts-svg line {
    stroke: #5c6ca5
}

.dark .fc-unthemed .fc-toolbar .fc-button {
    text-transform: capitalize
}

.dark .fc-unthemed .fc-content,
.dark .fc-unthemed .fc-divider,
.dark .fc-unthemed .fc-list-heading td,
.dark .fc-unthemed .fc-list-view,
.dark .fc-unthemed .fc-popover,
.dark .fc-unthemed .fc-row,
.dark .fc-unthemed tbody,
.dark .fc-unthemed td,
.dark .fc-unthemed th,
.dark .fc-unthemed thead {
    border-color: #30384f !important
}

.dark .fc-other-month.fc-future,
.dark .fc-other-month.fc-past {
    background: #131620
}

.dark .fc-unthemed td.fc-today {
    background: rgba(58, 87, 232, .1) !important
}

.dark.boxed {
    background: #3a57e8 !important
}

.dark.boxed .boxed-inner,
.dark.boxed-fancy,
.dark.boxed-fancy .boxed-inner {
    background: #151824
}
